.devise-login {
  width: 400px !important;
  margin: auto;

  .field > #user_email, #user_password {
    width: 100%;
  }
}

.devise-register {
  width: 400px !important;
  margin: auto;

  .btn-register {
    margin-top: 12px;
  }

  .field > #user_email, #user_password, #user_password_confirmation {
    width: 100%;
  }
}

.devise-forgotpassword {
  width: 600px !important;
  margin: auto;

  .field > #user_email {
    width: 100%;
  }

  .btn-send {
    margin-top: 12px;
  }
}