<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Funny Movies</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <%= form_for('new_user', url: '/users/sign_in', class: 'd-flex"') do |f| %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control-sm me-2' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control-sm me-2' %>
          <%= f.submit "Log in / Register", :class => 'btn btn-outline-success btn-login btn-sm' %>
      <% end %>
      <!-- <form class="d-flex">
        <input class="form-control-sm me-2" type="text" placeholder="username" aria-label="user">
        <input class="form-contro-sm me-2" type="password" placeholder='password' aria-label="pass">
        <button class="btn btn-outline-success btn-login btn-sm" type="submit">Login / Register</button>
      </form> -->
    </div>
  </div>
</nav>